table(width="100%", border="0", cellspacing="0", cellpadding="0"): tbody
    each topic in topics
        tr
            td(width="50", height="50"): img(width="50", height="50", src=topic.startUser.avatarPath)
            td(width="10")
            td
                font(size="4"): a(href=topic.href): font(color="#000000")=topic.title
                br
                font(color="#89a970")=`${topic.lastUser.name}${lang.lastReply}${topic.lastDate}`
                font(color="#000000")=`  ${topic.tagList || ''}`
            td(width="18", align="center")
                img(src="/static/reply.jpg")
                br
                span=topic.replyCnt
        tr: td(height="10")
    if maxPages && maxPages !== 1
        tr
            td(width="50")
            td(width="10")
            td: table: tbody: tr                    
                if Number(currentPage) !== 1
                    td(width="25"): a(href=`?page=${Number(currentPage) - 1}`): span.pageButton=`<`
                else
                    td(width="25"): span.disableButton=`<`
                each page in new Array(Number(maxPages)).fill(0).map((i,n) => n + 1)
                    if Number(currentPage) === page
                        td(width="25"): span.activeButton=`${page}`
                    else
                        td(width="25"): a(href=`?page=${page}`): span.pageButton=`${page}`
                if Number(currentPage) !== Number(maxPages)
                    td(width="25"): a(href=`?page=${Number(currentPage) + 1}`): span.pageButton=`>`
                else
                    td(width="25"): span.disableButton=`>`
            td
        tr: td(height="10")
