html
    head
        title=title
        link(rel="stylesheet", href="/static/main.css")
    body(bgcolor="#ffffff")
        include ./header.pug
        br
        table(width="100%", bgcolor="#ffffff", border="0", cellspacing="0", cellpadding="0"): tbody
            td(width="20")
            td(valign="top")
                p(align="center"): b: font(size="5")=title
                table(width="100%", border="0", cellspacing="0", cellpadding="0"): tbody
                    - let index = 0
                    each post in posts
                        - let color = index++ % 2 == 0 ? "#FFFFFF": "#EEEEEE"
                        tr(bgcolor=color)
                            td(height="10px")
                            td(height="10px", width="50px")
                            td(height="10px")
                            td(height="10px")
                            td(height="10px")
                        tr(bgcolor=color)
                            td(width="10px")
                            td(valign="top", width="50px"): img(width="50px", src=post.avatarPath)
                            td(width="10px")
                            td
                                p
                                    font(size="3")!=`<a href="/u/${ post.userName }" style="color: black;">${ post.userName }</a>&nbsp;`
                                    font(size="3", color="#337000")!=post.date
                                    font(size="3")!='&nbsp;#' + index
                                !=post.content
                            td(width="10px")
                        tr(bgcolor=color)
                            td(height="10px")
                            td(height="10px", width="50px")
                            td(height="10px")
                            td(height="10px")
                            td(height="10px")
                    if loginInfo.username
                        - let color = index++ % 2 == 0 ? "#FFFFFF": "#EEEEEE"
                        tr(bgcolor=color)
                            td(height="10px")
                            td(height="10px", width="50px")
                            td(height="10px")
                            td(height="10px")
                            td(height="10px")
                        tr(bgcolor=color)
                            td(width="10px")
                            td(valign="top", width="50px"): img(width="50px", src=loginInfo.avatar || 'default.jpg')
                            td(width="10px")
                            td: form(action="/posts?redirect=" + url, method="POST")
                                textarea(name="content", style="width: 100%; resize: none; height: 100px; display: block; margin-bottom: 4px;")
                                input(type="hidden", value=discussion_id, name="discussion_id")
                                input(type="submit", value=lang.reply)
                            td(width="10px")
                        tr(bgcolor=color)
                            td(height="10px")
                            td(height="10px", width="50px")
                            td(height="10px")
                            td(height="10px")
                            td(height="10px")
            td(width="20")
        include ./footer.pug
        script(language="JavaScript").
            if (document.querySelectorAll) {
                els = document.querySelectorAll("a.img");
                for (var i = 0; i < els.length; ++i) {
                    els[i].innerHTML = '<img src="' + els[i].getAttribute('href') + '"></img>'
                }
            }
