table(width="100%", border="0", cellspacing="0", cellpadding="0"): tbody
    each topic in topics
        tr
            td(width="50", height="50"): img(width="50", height="50", src=topic.startUser.avatarPath)
            td(width="10")
            td
                font(size="4")=topic.title
                br
                font(color="#89a970")=`${topic.lastUser.name}回复于${topic.lastDate}`
            td(width="20", align="center")
                img(src="static/reply.jpg")
                span=topic.replyCnt
        tr: td(height="10")

